{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static from staticfiles %}

{% block container %}
<h1>{% trans "Edit job" %}</h1>
<form action="" method="post">{% csrf_token %}
    {{ form|crispy }}
    <input type="submit" class="btn btn-primary" value="Update" />
    <a href="{% url 'jobs_list' %}" class="btn btn-link">{% trans "Cancel" %}</a>
    {% if job %}<a href="{% url 'job_delete' job.id %}" class="btn btn-danger pull-right">{% trans "Delete" %}</a>{% endif %}
</form>
{% endblock %}