{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Delete job" %}{% endblock %}

{% block container %}
<form role="form" method="post">
{% csrf_token %}
{{ form|crispy }}
<div class="alert alert-warning">
<p>{% blocktrans %}Are you sure you want to delete job "{{ object }}"?{% endblocktrans %}</p>
</div>
<div class="form-group">
    <input type="submit" class="btn btn-danger" value="{% trans 'Delete' %}" />
<a class="btn btn-link" href="{% url 'jobs_list' %}">{% trans "Cancel" %}</a>
</div>
</form>
{% endblock %}