{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block container %}
<h1>{% trans "Jobs" %}</h1>

{% if jobs %}
<table class="table table-bordered table-striped table-hover">
<tr>
    <th>{% trans "Active" %}</th>
    <th>{% trans "Cron time" %}</th>
    <th>{% trans "BC Site" %}</th>
    <th>{% trans "App Key" %}</th>
    <th>{% trans "Last ping" %}</th>
    <th>{% trans "Actions" %}</th>
</tr>
{% for job in jobs %}
<tr>
    <td>{% if job.active %}<span class="glyphicon glyphicon-ok-circle text-success" aria-hidden="true"></span>{% else %}<span class="glyphicon glyphicon-ban-circle text-danger" aria-hidden="true"></span>{% endif %}</td>
    <td>{{job.cron_time}}</td>
    <td>{{job.bc_site}}</td>
    <td>{{job.app_key}}</td>
    <td>{{job.last_ping}}</td>
    <td>
        <div class="btn-toolbar" role="toolbar">
        <div class="btn-group btn-group-sm" role="group">
            <a href="{{job.get_absolute_url}}" class="btn btn-default" title="{% trans 'Details' %}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
        </div>
        <div class="btn-group btn-group-sm" role="group">
            <a href="{% url 'job_delete' job.id %}" class="btn btn-danger" title="{% trans 'Delete' %}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
        </div>
        </div>
    </td>
</tr>
{% endfor %}
</table>
{% else %}
<div class="alert alert-info"><p>{% trans "There are no jobs yet." %}</p></div>
{% endif %}
<div class="btn-group">
    <a class="btn btn-info" href="{% url 'job_create' %}">{% trans "Add Job" %}</a>
</div>
{% endblock %}