{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block container %}
<h1>{% trans "Sites" %}</h1>

{% if sites %}
<table class="table table-bordered table-striped table-hover">
<tr>
    <th>{% trans "Name" %}</th>
    <th>{% trans "BC Subdomain" %}</th>
    <th>{% trans "Actions" %}</th>
</tr>
{% for site in sites %}
<tr>
    <td>{{site.name}}</td>
    <td>{{site.bc_subdomain}}</td>
    <td>
        <div class="btn-toolbar" role="toolbar">
        <div class="btn-group btn-group-sm" role="group">
            <a href="{{site.get_absolute_url}}" class="btn btn-default" title="{% trans 'Details' %}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
        </div>
        <div class="btn-group btn-group-sm" role="group">
            <a href="{% url 'site_delete' site.id %}" class="btn btn-danger" title="{% trans 'Delete' %}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
        </div>
        </div>
    </td>
</tr>
{% endfor %}
</table>
{% else %}
<div class="alert alert-info"><p>{% trans "There are no sites yet." %}</p></div>
{% endif %}
<div class="btn-group">
    <a class="btn btn-info" href="{% url 'site_create' %}">{% trans "Add Site" %}</a>
</div>
{% endblock %}