{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'BCScheduler admin console' %}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{% trans 'BCScheduler admin console' %}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
